* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    
}
.separador2 {
    border: solid #039be5 1px;
    margin: 2rem;
}

/* Index */ 


.index__nav{
    background-color: #fff59d;
}

.index__nav__item{
    margin-top: .5rem;
}


.index__nav__icons{
    margin-left: 70rem;
    margin-top: .2rem;
}

.index__article__section1__titulo{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    font-weight: 500 !important
}




.index__carousel{
    background-color: #EEEEEE;
    margin: 0rem; 
}

.index__carousel__in{
    padding: 2rem;
    margin: 2rem;
}

.index__carousel__card {
    padding-left: 25rem;
}

.index__carousel__card__img{
    padding: 1rem !important;

}

.index__article__section2{
    margin-left: 3rem;
    margin-right: 3rem;
}

.index__article__section2 h2{
    font-weight: 500 !important
}

.index__article__section2__card{
    margin: 4rem;   
}

.index__article__section2 img{
    padding: 1rem !important;
}

/*  Productos */

.productos__body h1{
    margin: 3rem;
}
.productos__body article{
    margin-left: 3rem;
    margin-right: 3rem;
}

.productos__section__cards{
    padding-top: 1rem;
    
    
}


.productos__section__cards__p1{
    padding-right: 12rem ;
    padding-left: 1rem;
    position: absolute;
}
.productos__section__cards__p1 p {
    margin: 0;
    padding: 1rem;
}
.productos__section__cards__p2{
    margin-left: 20rem;
}