.cristy1{
    max-height: 400px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.columna{
    display: flex;
    flex-direction: column;
}

.fila{
    display: flex;
    flex-direction: row;
}

.subcolumna{
    display: flex;
    flex-direction: column;
}