
.index__nav{
    background-color: #fff59d;
}

* {
    font-family: 'Roboto', sans-serif;
    list-style: none;

}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%
}