.logo {
    width: 30px;
    height: 30px;
}

* {
    font-family: 'Roboto', sans-serif;
    list-style: none;

}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%
}

.carrito_main {
    display: flex;
    flex-direction: row;
}

.carrito_main-left {
    max-width: 70%;
    min-width: 70%;
    border: 2px solid grey;
    padding: 1em;
}

.accordion-button span {
    position: relative;
    margin-left: 80%;
}

.accordion-body ul li {
    list-style: none;
}

.ticket {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    padding: 1em;
    min-width: 30%;
}

.table td {
    text-align: center;
}

.ticket-resumen p {
    margin: 0;
    text-align: right;
}

.ticket-resumen {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    margin-bottom: 1em;
}

.dropdown p{
    margin: 0;
    font-weight: 500;
    padding-bottom: .5em;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.ticket-botonera{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}


.index__nav{
    background-color: #fff59d;
}