/* Index */
* {
    font-family: 'Roboto', sans-serif;
    list-style: none;

}

.nav__global {
    background-color: #fff59d;
}

.nav__global__item {
    margin-top: .5rem;
}


.nav__global__icons {
    margin-top: .2rem;
}

.nav__global__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%
}

